  img {
    height: 150px;
  }
  
  #id {
    
    color: #298797;
  
  }
  
  .class {
    
    color: #bd3a3a;
  
  }
  
  body {
    background-color: #a3d1cb;
      color: #7a7474;
  
  }
  
  h1 {
  
    color: #1e836c;
  }
  
  h3 {
   
    color: #1e836c;
  }
  
  p {
  
    color: #1e836c;
  }
  
  hr{color:#998200;
    border-style: none;
    border-top-style:dotted;
    border-width: 15px;
    width: 50%;}
